<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
       <a class="navbar-brand" href="#">WLT</a>
      <ul class="nav navbar-nav" *ngIf='_authenticationService.isLoggedIn'>
        <li><a [routerLink] = "['/add-word']">Add</a></li>
        <li><a href="#">Test</a></li> 
      </ul> 
      <ul class="nav navbar-nav navbar-right" *ngIf='_authenticationService.isLoggedIn'>
         <li ><a (click)="onClickLogut()">Logout</a></li>
         <li><a href="#">Settings</a></li>
      </ul>  
</nav>