.w-plus{ 
    font-size:100px;
    color:#d4eef9;
    clear:both;
    padding-top:20px;
}

.w-play{
   font-size:50px;
    color:#d4eef9;
    vertical-align:middle;

}

.w-dashboard-command {
   
    text-align:center;
}
 