<div class="container w-dashboard-command">
    <i  [routerLink] = "['/add-word']" class="glyphicon glyphicon-plus-sign w-plus"></i>
    <br/>
  <button class="btn btn-link w-add-word-link" [routerLink] = "['/add-word']" type="submit">
    Add Word</button>

</div>
<hr>
<div class="container w-dashboard-command">
   <i class="glyphicon glyphicon-expand w-play"></i>
   <button class="btn btn-link" type="submit">
    Start Practice</button>
</div>
<hr>
<div class="container w-overview">
  <h2>Overview</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget eleifend dolor, ultrices gravida nisi. Praesent consequat nisl non malesuada fringilla. Integer fermentum venenatis metus, vitae ultrices sem aliquet vitae. Phasellus auctor libero orci, sit amet imperdiet neque aliquam blandit. Pellentesque nec massa ac lacus volutpat auctor. Nam feugiat lorem a dui tincidunt dictum. Vivamus libero sapien, posuere non velit ut, gravida blandit turpis.</p>
  </div>